.product {
  padding: 1em;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #1d1f22;
    position: relative;

    .out-of-stock {
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover .product__info--cart svg {
      display: block;
    }

    img {
      max-height: 330px;
      object-fit: contain;
    }
  }

  &__info {
    padding-top: 1.5em;
    position: relative;
    font-size: 1.125rem;
    line-height: 160%;

    &--cart {
      position: absolute;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      overflow: hidden;
      top: -26px;
      right: 15px;

      svg {
        display: none;
        position: absolute;
        top: -7px;
        left: -11px;

        &:hover g circle {
            fill: #7dcf95;
        }

        &:active g circle {
          fill: #46be66;
        }
      }
    }

    &--name {
      font-weight: 300;
    }

    &--price {
      font-weight: 500;
    }
  }
}
