.header-selection__dropdown {
  &--currencies {
    padding: 1.111em 2.222em 0 1.111em;
    position: absolute;
    left: -1.111em;
    top: 70%;
    width: max-content;
    box-shadow: 0 0 2em rgba(168, 172, 176, 0.19);
  }

  & li {
    margin-bottom: 1.111em;

    &:hover {
      cursor: pointer;
    }
  }
}
