.container {
  padding: 5.5vw 7vw 0;

  &__list {
      display: grid;
      grid-gap: 7vw 3vw;
      grid-template-columns: repeat(auto-fit, minmax(100px, 386px));
      grid-template-rows: repeat(auto-fit, minmax(100px, 444px));
  }
}
