.cart-dropdown {
  font-size: 0.875rem;
  // position: relative;

  &:hover {
    cursor: pointer;
  }

  &__counter-icon {
    position: absolute;
    right: -0.6em;
    top: 0.5em;
    border-radius: 4.3em;
    width: 1.15em;
    height: 1.15em;
    text-align: center;
    background-color: #1d1f22;
    color: #ffffff;
  }

  &__overlay {
    padding: 0.5rem 1rem 1.25rem;
    position: absolute;
    right: 0;
    top: 70%;
    width: max-content;
    box-shadow: 0 0 2em rgba(168, 172, 176, 0.19);
    background-color: white;
    z-index: 1;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 1.5rem;
  }

  &__list {
    margin: 0 0 3em;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0 0 2.5em;

    .cart-dropdown-total {
      &__title {
        font-family: Roboto;
        font-weight: 500;
      }

      &__amount {
        font-weight: 700;
      }
    }
  }

  &__action-block {
    display: flex;
    column-gap: 0.85em;
    justify-content: space-between;

    .action-block__btn {
      flex-grow: 1;
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      text-decoration: none;

      &--view {
        border: 1px solid #1d1f22;
        background: #ffffff;
        color: #1d1f22;

        &:hover {
          color: #ffffff;
          background-color: #1d1f22;
          cursor: pointer;
        }

        &:active {
          opacity: 0.85;
        }
      }

      &--buy {
        background: #5ece7b;
        color: #ffffff;

        &:hover {
          cursor: pointer;
          background-color: #7dcf95;
        }

        &:active {
          background-color: #46be66;
        }
      }
    }
  }
}
