.description-container {
  padding: 5.5em 15vw 0 7vw;
  display: grid;
  grid-template-areas:
    "gallery figure description"
    "gallery figure description"
    "gallery figure description"
    "gallery figure description"
    "gallery figure description";
  grid-template-columns: 1fr 7.625fr 3.625fr;
  grid-column-gap: 40px;

  .product-gallery {
    grid-area: gallery;
    padding: 0;
    width: fit-content;
    overflow: inherit;

    &__photo {
      padding-bottom: 2.5em;

      :hover {
        cursor: pointer;
      }

      img {
        max-height: 80px;
        object-fit: cover;
        min-width: 79px;
      }
    }
  }

  .product-figure {
    grid-area: figure;
    margin: 0;
    position: relative;

    .out-of-stock {
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      left: 0;
      right: 0;
      text-align: center;
    }

    img {
      max-width: 610px;
    }
  }

  .product-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    row-gap: 2.5em;

    &__heading--title {
      margin: 0 0 0.5em;
      font-size: 1.875rem;
      font-weight: 600;
    }

    &__heading--desc {
      font-size: 1.875rem;
      font-weight: 400;
    }

    &__size--title,
    &__price--title {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.125rem;
      font-weight: 700;
      margin: 0 0 0.5em;
    }

    &__size--btns {
      display: flex;
      justify-content: space-between;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      padding: 0;
      column-gap: 0.75em;

      & li {
        border: 1px solid #1d1f22;
        padding: 0.875rem 0;
        text-align: center;
        width: -webkit-fill-available;
        box-sizing: border-box;

        &:hover {
          color: #ffffff;
          background-color: #1d1f22;
          cursor: pointer;
        }

        &:active {
          opacity: 0.85;
        }
      }

      .selected {
        color: #ffffff;
        background-color: #1d1f22;
        outline: 2px solid #1d1f22;
      }
    }

    &__price--amount {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &__add-btn {
      font-weight: 600;
      padding: 1em 0;
      background-color: #5ECE7B;
      color: #ffffff;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: #7dcf95;
      }

      &:active {
        background-color: #46be66;
      }
    }

    &__overview {
      font-family: 'Roboto';
      line-height: 160%;
      font-weight: 400;
      max-height: 15em;
      overflow: auto;
    }

    &__warning {
      color: #c42222;
    }
  }
}

@media (max-width: 800px) {
  .description-container {
    grid-column-gap: 5vw;
  }
}
