.header-nav__link {
  padding: 0.25em 1em 2em;
  text-decoration: none;
  color: #1d1f22;

  &:hover,
  &--active {
    color: #5ece7b;
    font-weight: 600;
    border-bottom: solid 2px #5ece7b;
    padding-bottom: calc(2em - 2px);
  }
}
